{% extends 'main/layout.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="features">
        <h1>Контакты</h1>
        <p>Мы всегда рады ответить на ваши вопросы и помочь вам.</p>
            <h2>Наши контакты</h2>
            <p><strong>Адрес:</strong> ул. Примерная, д. 123, Москва, Россия</p>
            <p><strong>Телефон:</strong> +7 (928) 456-78-90</p>
            <p><strong>Email:</strong> <a href="mailto:info@autoschool.cloud">info@autoschool.cloud</a></p>

    </div>
{% endblock %}