{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>Создайте собственную систему дистанционного <br /> обучения за 5 минут</h1>
                <ul>
                <li>
                    <i class="fa-solid fa-check"></i>
                    <span>Без вложений</span>
                </li>

                <li>
                    <i class="fa-solid fa-check"></i>
                    <span>Без команды программистов</span>
                </li>

                <li>
                    <i class="fa-solid fa-check"></i>
                    <span>Без найма преподавателей</span>
                </li>
                </ul>

        <p> AutoSchool.Cloud — это революционная платформа, созданная для оптимизации и улучшения образовательного процесса в автошколах. Мы предлагаем современные инструменты и технологии, которые позволяют эффективно управлять учебным процессом и обеспечивать высокое качество обучения.</p>
        <p>С AutoSchool.Cloud вы получаете полный контроль над учебным процессом. Создание и управление расписанием теоретических и практических занятий становится простым и удобным. Ученики могут выбирать удобное время для занятий, будь то утренние, дневные, вечерние или выходные группы. Вы сможете отслеживать успеваемость своих учеников, анализировать их результаты и предоставлять рекомендации для улучшения. Доступ к актуальным учебным материалам возможен в любое время и в любом месте.</p>
        <p>Наши интерактивные элементы делают процесс обучения интересным и увлекательным. Викторины и тесты помогут ученикам проверить свои знания и подготовиться к экзаменам, а видеоуроки и анимации визуализируют сложные темы для лучшего понимания. Применение игровых элементов удерживает интерес учеников и мотивирует их к учебе.</p>

        <button class="btn btn-warning">На стрвницу про нас</button>
    </div>

{% endblock %}