body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
aside img {
    width: 210px;
}

aside h3 {
    font-size: 23px;
    font-weight: 300;
    margin: 60px auto 20px;
    padding-left:27px;

}

aside ul {
    list-style: none;
}

aside ul a {
  text-decoration: none;
}

aside ul li {
    color: #fff;
    margin-top: 20px;
    transition: transform .6s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
}
aside ul i {
  margin-right: 8px;
}

aside ul li:hover, aside ul a:hover{
    color: #ed5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    color: #fff;
    text-align: center;
}

main .features ul {
    list-style: none;

    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 20px;
}

main .features h1 {
    padding-top: 30px;
    font-size: 50px;
}
main .features p {
    max-width: 1000px;
    margin: 21px auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
main .features .new-w {
    min-width: 100%;
}


div.alert.alert-warning {
    max-width: 500px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    margin: 50px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}